body {
	background-image: url(img/BackgroundImage.png);
	background-repeat: repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	font-family: 'Sigmar One', cursive;
	text-align: center;
	font-size: 400%;
	margin: -30px auto -10px auto;
	color: #ffffff;
	text-shadow: 0px 0px 30px #ffcccc;
}

#canvas-container {
  	width: 100%;
  	display:none;
   	text-align:center;
}

#gameCanvas {
	background-color: #ffffff;
	display:inline;
  	box-shadow: 0px 0px 10px 7px #000000;
}

#pause-container {
	width: 100%;
	text-align: center;
	display: none;
}	

#levelselect-container {
	width: 100%;
	text-align: center;
	display: none;
}

#player1-control-selection-container {
	width: 100%;
	text-align: center;
	display: none;
}

#player2-control-selection-container {
	width: 100%;
	text-align: center;
	display: none;
}

#selection {
	width: 800px;
	height: 600px;
	display: inline-block;
	background-image: url(img/menudummy.png);
}

#p1Select {
	width: 800px;
	height: 600px;
	display: inline-block;
	background-image: url(img/menudummy.png);
}

#p2Select {
	width: 800px;
	height: 600px;
	display: inline-block;
	background-image: url(img/menudummy.png);
}

#pause {
	width: 800px;
	height: 600px;
	display:inline-block;
	background-image: url(img/menudummy.png);
}

#debugCanvas {
	display: none;
}

#menu-container{
	width: 100%;
	text-align: center;
}

#menu {
	width: 800px;
	height: 600px;
	display:inline-block;
	background-image: url(img/menudummy.png);	
}

.menu-div{
	margin-top: 40px;
	margin-left: 15px;
	border: 3px solid black;
	font-family: 'Sigmar One', cursive;
	font-size: 100%;
	display: inline-block;
	text-align: center;
	
}

.menu-item{
	width: 150px;
	height: 30px;
	background-image: url(img/menuitembg.png);	
}

.control{
	width: 300px;
	height: 300px;
}

.hint{
	padding-top: 2px;
	padding-bottom: 2px;
}
.ingame{
	margin-top: 30px;
	font-size: 230%;
}